@import "tailwindcss";
@import "@nuxt/ui";

/* 全局所有滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;   /* gray-400，比 elevated 深 */
  border-radius: 9999px;
}